.welcomeScreen {
    background-color: white;
}


.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    color: #E3F6FF;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 20px;
    color: #E3F6FF;
    font-weight: bold;
    font-family: "Montserrat-Light";
  }
/* Containers */

.container-fluid{
padding: 1% 10%;
}

.move{
    padding: 1%;
} 
.one{
    padding: 10px;
}
.margin{
    margin: 5%;
    border-width: 0px;
    border-radius: 30px;
}
.margin1{
    margin: 2%;
    border-width: 0px;
}
#book{
    padding: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.tcenter{
    text-align: center;
}